orbs:
  node: circleci/node@7.2.1

version: 2.1

parameters:
  node_version:
    type: string
    default: '22.13.0'

commands:
  install_deps:
    steps:
      - node/install-pnpm
      - node/install-packages:
          pkg-manager: pnpm
          cache-only-lockfile: true
          app-dir: ~/repo

jobs:
  build:
    executor:
      name: node/default
      tag: << pipeline.parameters.node_version >>
    working_directory: ~/repo
    resource_class: small
    steps:
      - checkout
      - install_deps
      - run: pnpm test
      - run: pnpm type-check
      - run: pnpm lint:ci

workflows:
  build_and_test:
    jobs:
      - build
